    body {
      background-image: url("img/mur.jpg");
      font-family: sans-serif;
    }
    .grobouton { display: inline-block; font-size: 200%;}
    h1 {
      color: red; font-variant: small-caps; text-shadow: 0.04em 0.02em 0.1em gray; }
    #sortieJS { display: none; height: 240px; width: 240px; 
		background-color: lightyellow; border: 3px inset orange;
		color: #507;
		text-shadow: 2px 1px 3px gray; }
#sortieSVG { display: none; width: 640px; height: 400px; }
#graphique { width: 640px; height: 480px; border: 3px inset gray; background-image: url("img/sableblanc.jpg"); }
	#sortieNum { resize: both; height: 240px; width: 640px; background-color: lightCyan; border: 3px inset green; text-shadow: 2px 1px 3px gray; }
